@{
    Layout = null;
    var model = this.Model as PagedList<SpecChecker.CoreLibrary.Models.CodeCheckResult>;
    int index = 1;
}

<table border="1">
    <tr class="header">
        <td style="width: 30px">#</td>
        @*<td style="width: 70px"><a class="sort" href="@model.GetSortLink("BusinessUnit")" title="按业务单元排序">业务单元</a></td>*@
        <td style="width: 70px"><a class="sort" href="@model.GetSortLink("IssueCategory")" title="按规则分类排序">规则分类</a></td>
        <td style="width: 260px"><a class="sort" href="@model.GetSortLink("Reason")" title="按不规范原因排序">不规范原因</a></td>
        <td style="width: auto"><a class="sort" href="@model.GetSortLink("FileName")" title="按文件路径排序">文件信息</a></td>
    </tr>
    @foreach( var m in model.List ) {
        <tr>
            <td>@(index++.ToString())</td>
            @*<td class="nowrap">@m.BusinessUnit</td>*@
            <td class="nowrap">@m.IssueCategory</td>
            <td>@Html.Raw(m.Reason.Replace(";", "<br />"))</td>
            <td>文件名：@m.FileName<br />
                行号数：@m.LineNo.ToString()<br />
                代码行：@m.LineText
            </td>
        </tr>
    }
</table>