@{
    Layout = "/Views/Mobile/Shared/_Layout.cshtml";
    var model = this.Model as DailyReportIndexViewModel;
    var colspan = SpecChecker.CoreLibrary.Config.BranchManager.ConfingInstance.Branchs.Count() + 1;
}
@section head{
    @this.RenderCss("/static/css/Mobile/DailyReportIndex.css")
}
@section scripts{
    @this.RenderJs("/static/js/jquery-easyui-1.4.5/jquery.min.js")
    <script type="text/javascript">
        $(function () {
            $("#datachart button").click(function(){
                $(this).hide();
                var width = $("#qaReport").width();
                $("#chartReport").css({ width: width + "px", height: "530px" })
                    .show()
                    .attr("src", "/TotalReport.phtml");
            });
        });
    </script>
}

<h2>代码检查日报-- @model.Today</h2>

@if( model.QaReportTable != null ) {
    <table id="qaReport" border="1">
        <tr class="header">
            <td style="width: 90px">扫描类别</td>
            @foreach (var b in SpecChecker.CoreLibrary.Config.BranchManager.ConfingInstance.Branchs) {
                if (b.CanLinkToDailyReportPage(model.Today)) {
                    <td style="width: 70px"><a href="@string.Format("/DailyReport/{0}/{1}.phtml", @b.Id, model.Today)" target="_blank">@b.Name</a></td>
                }
                else {
                    <td style="width: 70px"><b>@b.Name</b></td>
                }
            }
        </tr>
        @foreach (var row in model.QaReportTable.Rows) {
            <tr>
                <td>@row.ScanKind</td>
                @foreach (var cell in row.Cells) {
                    <td>@Html.Raw(cell.GetHtml())</td>
                }
            </tr>
        }
        <tr>
            <td colspan="@colspan" class="header" style="text-align: left; font-weight: normal">
                说明：箭头表示与前一天数据的对比趋势（<b style="color: red">↑</b> 上升，<b style="color: green">↓</b> 下降）
                ，点击<b>列标题</b>可查看详情。
                <i style="color: #aaa">@model.Today</i>
            </td>
        </tr>
    </table>

    <div id="datachart" style="margin: 0; padding-top: 32px;">
        <div>
            <button style="background-color:salmon; padding: 8px 25px;">查看数据变化趋势分析表</button>
        </div>
        <iframe id="chartReport" src="" frameborder="0" scrolling="no" style="height: 530px; width: 99%; display: none;"></iframe>
    </div>
}

<p class="note">
    <b>配置介绍</b>
    <ul>
        <li><a href="http://note.youdao.com/noteshare?id=5e8581f55dfda2a8da59cc4cea582c25&sub=E501E71123EF44628D8C89294A2332B6" target="_blank">代码扫描工具配置介绍</a></li>
    </ul>
</p>

<p class="note">
    <b>规则列表</b>
    <ul>
        <li><a href="/static/page/erp-spec.html" target="_blank">ERP代码规范</a></li>
        <li><a href="/static/page/ms-MinimumRecommendedRules.html" target="_blank">微软托管代码建议规则</a></li>
    </ul>
</p>

<p class="note">
    <b>ERP开发规范</b>
    <ul>
        <li><a href="http://note.youdao.com/noteshare?id=d93f3f087efc666053259d9000332c73" target="_blank">新ERP开发规范--服务端</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=2d8024004aaace7bca9fd57b5c4cea6e" target="_blank">新ERP开发规范--前端</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=9f15c9469ed6080594e87c66c131144e" target="_blank">高性能开发规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=77f08e301c2c51a766176dc8a51a8fb3" target="_blank">安全开发规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=98cf0940617db9b1c5f9f41d5e66a52f" target="_blank">配置文件开发规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=232636ff47a574cb14d5b171d0649716" target="_blank">数据库设计规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=7773ae1a7f1c9f656559fc85a772adb2" target="_blank">异常开发规范</a></li>

    </ul>
</p>