@{
    Layout = "/Views/PC/Shared/_Layout.cshtml";
    var model = this.Model as DailyReportIndexViewModel;

    Page.Title = "代码检查日报--" + model.Today;
    var colspan = SpecChecker.CoreLibrary.Config.BranchManager.ConfingInstance.Branchs.Count() + 1;

    DateTime currentDay = DateTime.Parse(model.Today);
}
@section head{
    @this.RenderCss("/static/css/PC/DailyReportIndex.css")
    @this.RenderCss("/static/js/jquery-easyui-1.4.5/themes/metro/easyui.css")
    @this.RenderCss("/static/js/jquery-easyui-1.4.5/themes/icon.css")
    @this.RenderCss("/static/js/jquery-easyui-1.4.5/themes/color.css")
}
@section scripts{
    @this.RenderJs("/static/js/jquery-easyui-1.4.5/jquery.min.js")
    @this.RenderJs("/static/js/jquery-easyui-1.4.5/jquery.easyui.min.js")
    @this.RenderJs("/static/js/jquery-easyui-1.4.5/easyui-lang-zh_CN.js")

    <script type="text/javascript">
        $(function () {
            $("#todayHeader").click(function () {
                $("#calendar1").toggle();
            });

            $('#calendar1').calendar({
                onSelect: function (date) {
                    var url = "/Report/" + date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate() + ".phtml";
                    window.location.href = url;
                }
            });
            $('#calendar1').calendar('moveTo', new Date(@currentDay.Year, @(currentDay.Month - 1), @currentDay.Day));

            $("#datachart button").click(function(){
                $(this).hide();
                var width = $("#qaReport").width();
                $("#chartReport").css({ width: width + "px", height: "530px" })
                    .show()
                    .attr("src", "/TotalReport.phtml");
            });
        });
    </script>
}

<h2 id="todayHeader">代码检查日报-- @model.Today</h2>
<div id="calendar1" class="easyui-calendar" style="width: 240px; height: 180px; display: none;"></div>


@if( model.QaReportTable != null ) {
    <table id="qaReport" border="1">
        <tr class="header">
            <td style="width: 100px">扫描类别</td>
            @foreach (var b in SpecChecker.CoreLibrary.Config.BranchManager.ConfingInstance.Branchs) {
                if (b.CanLinkToDailyReportPage(model.Today)) {
                    <td><a href="@string.Format("/DailyReport/{0}/{1}.phtml", @b.Id, model.Today)" target="_blank">@b.Name</a></td>
                }
                else {
                    <td><b>@b.Name</b></td>
                }
            }
        </tr>

        @foreach (var row in model.QaReportTable.Rows) {
            <tr>
                <td>@row.ScanKind</td>
                @foreach (var cell in row.Cells) {
                    <td>@Html.Raw(cell.GetHtml())</td>
                }
            </tr>
        }
        <tr>
            <td colspan="@colspan" class="header" style="text-align: left; font-weight: normal">
                说明：箭头代表与前一天统计数据对比趋势（<b style="color: red">↑</b> 表示上升，<b style="color: green">↓</b> 表示下降）
            </td>
        </tr>
    </table>


    <div id="datachart" style="margin: 0; padding-top: 32px;">
        <div><button style="background-color:salmon; padding: 8px 25px;">查看数据变化趋势分析表</button>
        </div>
        <iframe id="chartReport" src="" frameborder="0" scrolling="no" style="height: 530px; width: 99%; display: none;"></iframe>
    </div>

}

<p class="note">
    <b>配置介绍</b>
    <ul>
        <li><a href="http://note.youdao.com/noteshare?id=5e8581f55dfda2a8da59cc4cea582c25&sub=E501E71123EF44628D8C89294A2332B6" target="_blank">代码扫描工具配置介绍</a></li>
    </ul>
</p>

<p class="note">
    <b>规则列表</b>
    <ul>
        <li><a href="/static/page/erp-spec.html" target="_blank">ERP代码规范</a></li>
        <li><a href="/static/page/ms-MinimumRecommendedRules.html" target="_blank">微软托管代码建议规则</a></li>
    </ul>
</p>

<p class="note">
    <b>ERP开发规范</b>
    <ul>
        <li><a href="http://note.youdao.com/noteshare?id=d93f3f087efc666053259d9000332c73" target="_blank">代码扫描工具检查规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=3341893dcefcd5f92599ae8e0fba7f7d" target="_blank">人工代码审核检查规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=2d8024004aaace7bca9fd57b5c4cea6e" target="_blank">前端开发规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=9f15c9469ed6080594e87c66c131144e" target="_blank">高性能开发规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=232636ff47a574cb14d5b171d0649716" target="_blank">数据库设计规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=77f08e301c2c51a766176dc8a51a8fb3" target="_blank">安全开发规范</a></li>
        <li><a href="http://note.youdao.com/noteshare?id=7773ae1a7f1c9f656559fc85a772adb2" target="_blank">异常开发规范</a></li>

    </ul>
</p>



<p>
    <br />
    <b>扫描二维码用手机查看</b><br />
    <img src="/static/img/spec-check.png?v=1">
</p>